/*GENRERAL */

:root {
    --text-presentation-bg-footer: #ebe2d7;
    --green-text: #7c925e;
    --bg-header: #fbf9f7;
    --text-border-header: #6d6d6d;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style: none;
    a {
      text-decoration: none;  
    }
}

input[type="submit"]:hover{
    transform: scale(1.2);

}
a:hover{
    color: #7c925e;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-header);
    border-bottom: 5px solid var(--text-border-header);
    width: 100%;
    a{
        color: #6d6d6d;
    }
    .information {
        background-color: var(--text-presentation-bg-footer);
        color: var(--green-text);
        font-size: 18px;
        text-align: center;
        padding: 10px;
        align-content: center;
        
    } 
}

nav {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    color: var(--text-border-header);    
}
.title {
    color: var(--green-text);
    font-size: 35px;
    grid-column: 2;
    margin-top: 20px;
}
.menu {
    grid-row: 2;
    grid-column: 2;
    display: flex;
}
.menu li {
    margin-right: 30px;
    margin-top: 10px;
}

.icon {
    grid-row: 2;
    grid-column: 5;
    display: flex;
    margin-bottom: 10px;
    img {
        width: 40px;
        margin-right: 15px;

    }
}
.pic {
    margin: 10px;/* demo spacing */
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
}
.arrow-right {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--text-presentation-bg-footer);
  }
.presentation {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    .left-side {
        grid-column: 1;
        grid-row: 1;
    }
    .right-side {
        grid-column: 2;
    }
}
#right-side {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 2;
    margin-left: -450px;
    display: grid;
    article {
        margin-right:40px;
    }
    h3 {
        color: var(--green-text);
        margin-bottom: 15px;
        font-weight: bold;
    }
    img {
        width: auto;
        height: 110px;
        float: left;
        margin: 0 5px 5px 0;
    }
}
.home-img,.home-text,.home-discover {
    width: 600px;
}
.home-img img{
    width: 100%;
}
.home-img h3 {
    color: var(--green-text);
}
.home-text {
    background-color: var(--text-presentation-bg-footer);
    color: var(--text-border-header);
    position: relative;
    left: -50px;
    top: -100px;
    height: 260px;
    width: 600px;
    padding: 15px;
    p{
        line-height: 30px;
    }
}
.home-discover {
    a {
        color: var(--text-border-header);
    }
    .img-plaid {
        width: 30%;
    }
    padding-top: 10px;
    height: 250px;
    margin-top: -50px;
    text-align: center;
    width: 600px;
    border: 5px solid var(--bg-header);
}


body{
    font-family: Arial, Helvetica, sans-serif;
    
    p{
        color: #6d6d6d;
    }



    ul{
        color: #6d6d6d;
        font-size: large;
    }

}





/* Perrine/ steven*/
.main{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 124px;
}
.main h2{
    color: var(--green-text);
}
.second_grid{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    
}

.image img{
    margin: 40px 0px 0px 0px;
    width: 300px;
    height: auto;
}
.petite_image{
    display: flex;
    justify-content: center;
}
.petite_image img{
    width: 75px;
    height: 75px;
    margin: 0px 15px;
    
}

span{
    font-weight: bold;
}

.description *{
    margin: 40px 0;
}
.description input{
    margin-bottom: 30px;
    background-color: #7c925e;
    border: 0;
    height: 30px;
    width: 130px;
    color: white;
    font-weight: bold;
}
.liste_menu{
    
    justify-items: end;
    margin: 30px;
}
.liste_menu li{
    text-align: left;
    margin: 15px;
    list-style-type: square;
}


/*/////footer/////*/

footer{
    display: grid;
    grid-auto-columns: repeat(4,1fr);
    background-color: var(--text-presentation-bg-footer);

}
.contactezNous{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    color: #7c925e;
}
.contactezNous input,label{
    width: 200px;
    margin: 4px;
    border: 0;
    margin-top: 0;

}
.contactezNous h4{
    margin:20px 0px;
    
}
.mesInputs{

    display: grid;
    grid-template-columns: 3;

    input{
        height: 25px;    
        padding-left: 10px;
        font-size: 10px;
    }
}
.text_area{
    grid-column: 3;
    /* display : flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 56px;
 
    textarea{
        border: 0;
        resize: none;
        grid-row: 1;
        
    }
    input{
        color: white;
        grid-row: 2;
        width: 600px;
        height: 20px;
        border:0;
        margin: 5px 0px;
        background-color: #7c925e;

    }
}

#cadre {
    width: 600px; 
    height: 80px; 
}


@media only screen and (min-width: 330px) and (max-width: 575px) {
    header{
        width: 100%;
       
        p{
            font-size: 0.7em;
            text-align: start;
            margin-right: 40px;
           
        }
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
       
    }    
    .second_grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } 
    .description {
        margin : 10px;
    }
 
    .description input{
        display: flex;
        justify-self: end;
       
    }
    .image img:not(.petite_image img){
        width: 100%;
        height: 100%;
        margin : 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0i;
        
    }
    
    .text_area input{
        width: auto;
        margin: 0;
    }
    #cadre{
        width: auto;
    }
 }